.green-area {
  background: #c4c750;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-content: center;
  align-items: center;
  padding: 150px 0;
}

.text {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}
