<div
  class="container"
  *ngIf="data.isVisible === true && data.room != undefined"
>
  <div class="modal" [@slide]="data.animationState">
    <img
      src="assets/images/close-icon.svg"
      alt=""
      class="close-icon"
      (click)="data.close()"
    />
    <div class="header">Бронирование</div>
    <div class="header title">{{ data.room.name }}</div>
    <img
      src="assets/images/room-pics/{{ data.room.image_id }}.png"
      class="image"
    />
    <div class="row">
      <div class="aside-label">Имя</div>
      <input
        maxlength="40"
        type="text"
        class="regular-input"
        [(ngModel)]="data.userInfo.first_name"
      />
    </div>
    <div class="row">
      <div class="aside-label">Фамилия</div>
      <input
        maxlength="40"
        type="text"
        class="regular-input"
        [(ngModel)]="data.userInfo.second_name"
      />
    </div>
    <div class="row">
      <div class="aside-label">Телефон</div>
      <input
        maxlength="11"
        type="text"
        class="regular-input"
        [(ngModel)]="data.userInfo.phone_number"
      />
    </div>
    <div class="row">
      <div class="aside-label">Email</div>
      <input
        maxlength="40"
        type="text"
        class="regular-input"
        [(ngModel)]="data.userInfo.email"
      />
    </div>
    <div class="row">
      <div class="aside-label">Опции</div>
      <app-option-selector
        class="option-selector"
        [options]="data.room.options"
        [selectedOptions]="data.selectedOptions"
        (selected)="data.recalculateCost()"
      ></app-option-selector>
    </div>
    <div class="row">
      <div class="aside-label">Дата</div>
      <input
        type="date"
        [ngModel]="data.date"
        (ngModelChange)="data.changeDate($event)"
        min="{{ calendarStart }}"
        max="{{ calendarEnd }}"
        class="regular-input"
      />
    </div>
    <div class="row" *ngIf="data.parsedDate != undefined">
      <app-time-selector
        [currentTime]="data.currTime"
        [timeRange]="data.timeRange"
        [occupiedTimes]="data.occupiedTimes"
        [(startTime)]="data.startTime"
        [(endTime)]="data.endTime"
        (endTimeChange)="data.recalculateCost()"
      ></app-time-selector>
    </div>
    <button
      class="book-button"
      (click)="data.book()"
      [disabled]="
        !validatePhone(data.userInfo.phone_number) ||
        !validateEmail(data.userInfo.email) ||
        data.userInfo.first_name === '' ||
        data.userInfo.second_name === '' ||
        data.startTime === undefined
      "
    >
      {{ data.cost }}₽
    </button>
  </div>
  <div
    class="background"
    (click)="data.close()"
    [@background]="data.animationState"
  ></div>
</div>
