.container {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal {
  z-index: 101;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 1.5vh;
  padding: 2.13vh 14.82vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.header {
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #000000;
  align-self: center;
}

.title {
  margin-bottom: 1.5vh;
}

.image {
  border-radius: 1.5vh;
  width: 35.28vh;
  height: 22.22vh;
  margin-bottom: 4.17vh;
  align-self: center;
}

.row {
  display: flex;
  margin-bottom: 2.22vh;
  align-items: center;
  align-content: center;
  width: 100%;
}

.aside-label {
  font-weight: 600;
  font-size: 1.1rem;
  color: #000000;
}

.regular-input {
  margin-left: auto;
  width: 18.52vh;
  background: white;
  border-radius: 1.5vh;
  border: 0.28vh solid #000000;
  box-sizing: border-box;
  padding: 1vh;
  font-weight: 600;
  font-size: 0.91rem;
  line-height: 1.1rem;
}

.book-button {
  flex: 0, 0, auto;
  align-self: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background: #c4c750;
  border-radius: 11.26vh;
  padding: 2.35vh 0;
  border: none;
  outline: none;
  width: 80%;
  font-weight: 600;
  font-size: 0.9em;
  line-height: 1.1em;
  color: #000000;
  cursor: pointer;
}

.book-button:hover {
  opacity: 0.9;
}

.book-button:active {
  opacity: 0.8;
}

.background {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
