<div
  class="container"
  *ngIf="data.isVisible === true && data.room != undefined"
>
  <div class="modal" [@slide]="data.animationState">
    <div class="header">Бронирование</div>
    <div class="header title">{{ data.room.name }}</div>
    <img src="assets/images/room-pics/{{ data.room.id }}.png" class="image" />
    <div class="row">
      <div class="aside-label">ФИО</div>
      <input type="text" class="regular-input" />
    </div>
    <div class="row">
      <div class="aside-label">Телефон</div>
      <input type="text" class="regular-input" />
    </div>
    <div class="row">
      <div class="aside-label">Почта</div>
      <input type="text" class="regular-input" />
    </div>
    <div class="row">
      <div class="aside-label">Дата</div>
      <input
        type="date"
        min="{{ calendarStart }}"
        max="{{ calendarEnd }}"
        class="regular-input"
      />
    </div>
    <div class="row">
      <div class="aside-label">Время</div>
      <input type="text" class="form-input" />
    </div>
    <button class="book-button">{{ data.room.cost }}₽</button>
  </div>
  <div
    class="background"
    (click)="data.close()"
    [@background]="data.animationState"
  ></div>
</div>
