.header {
  font-weight: 600;
  font-size: 1.1rem;
  color: #000000;
  margin-bottom: 1.2vh;
}

.time-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1vh;
}

.time-chip {
  padding: 0.75vh 1.5vh;
  box-sizing: border-box;
  border: 0.3vh solid black;
  color: #000;
  border-radius: 1.25vh;
  font-size: 0.75rem;
  line-height: 0.75rem;
  cursor: pointer;
}

.time-chip:disabled {
  border: 0.3vh solid #777;
  color: #777;
  cursor: not-allowed;
}

.selected-time-chip {
  @extend .time-chip;
  background: #c4c750;
}
