@use "../../../styles";

.main-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.title {
  display: grid;
  grid-template-columns: 0.25fr repeat(3, 1fr) 1.85vh;
  padding: 2vh;
  width: 100%;
  box-sizing: border-box;
}

.container {
  @extend %scrollable;
  //   flex: 10 0 auto;
  border-radius: 1vh;
  background: #c4c750;
  width: 100%;
  box-sizing: border-box;
}
