.container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/assets/images/admin-login-background.jpg");
  opacity: 1;
}

.form {
  position: relative;
  width: 51vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #313a5a;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.075);
  border-radius: 0.9vmin;
  padding: 4.3vmin;
}

.header {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.6vh;
  color: #ffffff;
  margin-bottom: 1.85vmin;
}

label {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.8vh;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 0.62vmin;
}

input {
  outline: none;
  border: 0.12vmin solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  border-radius: 0.6vmin;
  height: 4.5vmin;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.8vmin;
  color: #ffffff;
  background: #313a5a;
  margin-bottom: 1.85vmin;
  padding: 1.4vmin 2.6vmin;
}

input:focus {
  border: 0.12vmin solid #ffffff;
}

.error-messge {
  font-size: 1rem;
  margin: 1vmin 0;
  color: #c72828;
}

.green-button {
  flex: 0, 0, auto;
  align-self: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background: #c4c750;
  border-radius: 11.26vmin;
  padding: 2.35vmin 0;
  border: none;
  outline: none;
  width: 100%;
  font-weight: 600;
  font-size: 0.9em;
  line-height: 1.1em;
  color: #000000;
  box-sizing: border-box;
  cursor: pointer;
}

.green-button:not(:disabled):hover {
  opacity: 0.9;
}

.green-button:not(:disabled):active {
  opacity: 0.8;
}

.green-button:disabled {
  background: #969696;
  color: #fff;
  cursor: not-allowed;
}
