<div
  class="container"
  *ngIf="data.isVisible === true && data.userInfo != undefined"
>
  <div class="modal" [@slide]="data.animationState">
    <img
      src="assets/images/close-icon.svg"
      alt=""
      class="close-icon"
      (click)="data.close()"
    />
    <div class="header">Изменение данных</div>
    <div class="row">
      <div class="aside-label">Имя</div>
      <input
        maxlength="40"
        type="text"
        class="regular-input"
        [(ngModel)]="data.userInfo.first_name"
      />
    </div>
    <div class="row">
      <div class="aside-label">Фамилия</div>
      <input
        maxlength="40"
        type="text"
        class="regular-input"
        [(ngModel)]="data.userInfo.second_name"
      />
    </div>
    <div class="row">
      <div class="aside-label">Телефон</div>
      <input
        maxlength="11"
        type="text"
        class="regular-input"
        [(ngModel)]="data.userInfo.phone_number"
      />
    </div>
    <div class="row">
      <div class="aside-label">Пароль</div>
      <input
        maxlength="20"
        type="password"
        class="regular-input"
        [(ngModel)]="data.password"
      />
    </div>
    <button
      class="change-button"
      (click)="data.save()"
      [disabled]="
        !(
          validatePhone(data.userInfo.phone_number) ||
          data.userInfo.phone_number === ''
        )
      "
    >
      Изменить данные
    </button>
  </div>
  <div class="background" [@background]="data.animationState"></div>
</div>
