@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-ExtraBold.ttf");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-ExtraBoldItalic.ttf");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: "Sans";
  src: url("/assets/fonts/Comic Sans MS.ttf");
}

@font-face {
  font-family: "DCP";
  src: url("/assets/fonts/FontOfKindness-Regular.otf");
}

@font-face {
  font-family: "Straha:net";
  src: url("/assets/fonts/straha_net.ttf");
}

* {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  font-size: 20px;
}

.section {
  min-height: 100vh;
}

.grey-line {
  background: #2d2d2d;
  height: 13.89vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 3.5rem;
  color: #ffffff;
}
